  <div id="nav">
      <h2><a href="/">THE STREAK<a/></h2>
      <ul>
          <li><a href="/goals">Current Streaks</a></li>
          <li><a href="/newgoal">New Goal</a></li>
          <li><a href="/signout">Logout<a/></li>
      </ul></div>
  </div>

<div id="goals-container">
<center><br>
  <div class="goal-individual-display">
    <% @user_goals.each do |item| %>
     <h4> <%= p item.goal_name %></h4>
      <p>Days left:
      <%= p item.goal_description %></p>

      <button>DECREASE</button>
    </p>
    <% end %>

   <table style="width:20%">
      <tr>

        <td>TEST</td>
        <td>TEST</td>
      </tr>
      <tr>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
      </tr>
    </table>


  </div>
</center>
</div>

