  <div id="nav">
      <h2><a href="/">THE STREAK<a/></h2>
      <ul>
          <li><a href="/signin">Sign In</a><li>
          <li><a href="signup">Sign Up<a/></li>
          <!-- <li>Logout</li> -->
      </ul></div>
  </div>



<div class="main-container">
<center>
  <h1> Give It All</h1> <span class="sub-text">Every day. Start now.</span>

   <!-- <span class="button"><a href="#">Learn more </a></span> -->
</center>
</div>

<div class="main-container-sub">
  <center>
    <div id="images-index">
        <img src="/images/bike.jpg">
        <img src="/images/coffee.jpg">
        <img src="/images/giveitall.jpg">
      </div>

  </center>
</div>


  <footer>
    <center>
    <a href="https://thestreak.herokuapp.com/signup"><img src="/images/footerstreak.png"></a>
    <a href="http://www.joedimaggio.com"><img src="/images/brown_footer_joe.png"></a>
    <a href="https://www.facebook.com/OfficialJoltinJoe"><img src="/images/connectfooter.png"></a>
  </center>
  </footer>
