<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400|Josefin+Slab:100,300,400,300italic|Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <title>The Streak</title>
</head>
<body>



  <%= yield %>


  <footer>
    <center>
    <a href="https://thestreak.herokuapp.com/signup"><img src="/images/footerstreak.png"></a>
    <a href="http://www.joedimaggio.com"><img src="/images/joefooter.png"></a>
    <a href="https://www.facebook.com/OfficialJoltinJoe"><img src="/images/connectfooter.png"></a>
  </center>
  </footer>

</body>
</html>
