  <div id="nav">
      <h2><a href="/">THE STREAK<a/></h2>
      <ul>
          <li><a href="/goals">Current Streaks</a></li>
          <li><a href="/newgoal">New Goal</a></li>
          <li><a href="/signout">Logout<a/></li>
          <!-- <li>Logout</li> -->
      </ul></div>
  </div>

<div class="form-container">
<center>
  <h2>New Streak</h2>
  <form action ="/newgoal" method="POST">
    <input type="text" name="goal_name" placeholder="Goal Name"><br><br>
    <input type="text" name="goal_description" placeholder="Goal Description" size="40"><br><br>
<!--     <input type="password" name="password" placeholder="Password"><br><br> -->
    <input type="submit"><br><br>


   </form>
   <p>
    Currently you can only create one goal.
  </p>

 </center>
</div>